.note-form-page
  .book-title
    = link_to @book.title, book_notes_path(@book.id), class: "book-title-link"

  .note-form
    = form_with(model: [@book, @note], local: true) do |f|

      %h2.input-area-title
        本の要約
      .summary-area
        .summary-form-area
          = f.fields_for :summaries do |s|
            .js-file-group{ data: {index: "#{s.index}"} }
              %p.summary-border
              %h3.input-area-title
                見出し
              = s.text_field :title, placeholder: "見出しを入力してください", class: "summary-title-field"
              %h3.input-area-title
                要約
              = s.text_area :content, placeholder: "概要を入力してください", class: "summary-content-field"
              -# = s.text_field :summary_number, value: 1, class: "summary-number-field"
              .delete-form-display
                削除する
              .delete-form-btn
              - if @note.persisted?
                = s.check_box :_destroy, data:{ index: s.index }, class: "hidden-destroy"

        .add-form-btn
          追加する
        -# - summaries.each_with_index do |summary, idx|
        -#   .input-area-title
        -#     = "要約#{idx + 1}"
        -#   .summary-form
        -#     = f.fields_for :summaries, summary do |s|
        -#       -# = f.fields_for "summaries[]", summary do |s|
        -#       = s.text_field :title, placeholder: "見出し#{idx + 1}を入力してください", class: "summary-title-field"
        -#       = s.text_area :content, placeholder: "概要#{idx + 1}を入力してください", class: "summary-content-field"
        -#       = s.hidden_field :summary_number, value: idx + 1
        
      %h2.input-area-title
        感想
      .review-form
        = f.fields_for :reviews do |r|
          = r.text_area :content, placeholder: "感想を入力してください", class: "review-field"

      %h2.input-area-title
        アクションプラン
      .action-plan-form
        = f.fields_for :action_plans do |ap|
          = ap.text_area :content, placeholder: "アクションプランを入力してください", class: "action-plan-field"
          = ap.hidden_field :user_id, value: current_user.id

      .submit-btn-form
        - if @note.id
          = f.submit "更新", class: "btn"
        - else
          = f.submit "保存", class: "btn"

#overlay
  #modal-window
    .modal-message-box
      %div 本当に削除しますか？
    %button#modal-close-btn キャンセル
    %button#delete-comformation-btn__form 削除する