.note-form-page
  .book-title
    = link_to @book.title, book_notes_path(@book.id), class: "book-title-link"

  .note-form
    = form_with(model: [@book, @note], local: true) do |f|

      %h2.input-area-title
        読む目的
      .purpose-form
        = f.fields_for :purpose do |purpose|
          = purpose.text_field :content, placeholder: "本を読んで知りたいことなどを記入しましょう", class: "purpose-field"
      
      %h2.input-area-title
        本のポイント
      .summary-area
        .summary-form-area
          = f.fields_for :summaries do |s|
            .js-file-group{ data: {index: "#{s.index}"} }
              .input-area-title
                %h3.form-title
                  タイトル
              = s.text_field :title, placeholder: "ポイントを一言で記入しましょう", class: "summary-title-field"
              .input-area-title
                %h3.form-title
                  説明
              .summary-content-field__dummy
              = s.text_area :content, placeholder: "説明を記入しましょう", class: "summary-content-field"
              .delete-form-display
                削除する
              .delete-form-btn
              - if @note.persisted?
                = s.check_box :_destroy, data:{ index: s.index }, class: "hidden-destroy"

        .add-form-btn
          追加する
          
      %h2.input-area-title
        感想
      .review-form
        .review-field__dummy
        = f.fields_for :review do |r|
          = r.text_area :content, placeholder: "感想を記入しましょう", class: "review-field"

      %h2.input-area-title
        アクションプラン
      .action-plan-form
        .action-plan-form-area
          = f.fields_for :action_plans do |ap|
            .js-file-group-ap{ data: {index: "#{ap.index}"} }
              = ap.text_field :content, placeholder: "実践したいことなどを記入しましょう", class: "action-plan-field"
              = ap.hidden_field :user_id, value: current_user.id
              %span.delete-form-display
                = icon('fas', 'times-circle')
              .delete-form-btn
              - if @note.persisted?
                = ap.check_box :_destroy, data:{ index: ap.index }, class: "hidden-destroy"

        .add-ap-form-btn
          追加する

      %h2.input-area-title
        メモ
      .memo-form
        .memo-field__dummy
        = f.fields_for :memo do |m|
          = m.text_area :content, placeholder: "疑問や新しい発見などを記入しましょう", class: "memo-field"
      
      .submit-btn-form
        - if @note.id
          = f.submit "更新", class: "btn"
        - else
          = f.submit "保存", class: "btn"

#overlay
  #modal-window
    .modal-message-box
      %div 本当に削除しますか？
    %button#modal-close-btn キャンセル
    %button#delete-comformation-btn__form 削除する