.contents 

  .left-content
    .book-image

    .book-title
      = @book.title

    .book-author
      = "#{@book.author} (著)"

    .finish-reading-btn-area
      - if current_user.already_read?(@book)
        - book_user = BookUser.find_by(book_id: @book.id, user_id: current_user.id)
        = button_to '未読にする', book_user_path(book_user.id), method: :delete, class: "finish-reading-btn"
      - else
        = button_to '既読にする', book_users_path(@book.id), class: "finish-reading-btn"

    .edit-book-link
      = link_to "本を編集", edit_book_path(@book.id), class: "edit-book-btn"

    .create-note-link
      - if current_user.already_read?(@book)
        = link_to "ノート作成", new_book_note_path(@book.id), class: "create-note-btn"


    .notes-counts
      = "この本のノート数 #{@notes.length}"


  .right-content
    .contents-title
      ノート一覧
    .note-contents
      = render @notes