.note-show-wrapper
  .link-area
    .move-page-link
      .back-page-link
        = link_to "ノート一覧へ戻る", book_notes_path(@book.id), class: "back-page-btn"
      .user-page-link
        = link_to "#{@note.user.nickname}さんのページ", user_path(@note.user_id), class: "user-page-btn"
    .note-edit-area
      - if @note.user.id == current_user&.id
        .edit-page-link
          = link_to edit_book_note_path(@book.id, @note.id), class: "edit-note-btn" do
            = icon('fas', 'edit', class: "like-icon")
        #delete-note-link
          = icon('fas', 'trash', class: "like-icon")
        = link_to "", book_note_path(@book.id, @note.id), method: :delete, id: "delete-note-btn"
        #overlay
          #modal-window
            .modal-message-box
              %div 本当に削除しますか？
            %button#modal-close-btn キャンセル
            %button#delete-comformation-btn__note 削除する

  .slide
    .top-slide
      .top-slide__book-title
        = "#{@book.title}"
      .top-slide__user-name
        = "ノート作者 : #{@note.user.nickname}"

    %h2.slide-title
      読む目的
    .purpose-area
      - if @purpose.content != ""
        = simple_format(@purpose.content)
      - else
        目的はまだ書いていません
    
    %h2.slide-title
      本のポイント
    .summary-area
      - @summaries.each do |summary|
        .summary-slide
          .summary-slide__title
            = summary.title
          .summary-slide__content
            = summary.content

    %h2.slide-title
      感想
    .review-area
      - if @review.content != ""
        = @review.content
      - else
        感想はまだ書いていません

    %h2.slide-title
      アクションプラン
    .action-plan-area
      - if @action_plans.present?
        - @action_plans.each do |action_plan|
          - if action_plan.content != ""
            = simple_format(action_plan.content)
          - else
            アクションプランはまだ書いていません
      - else
        アクションプランはまだ書いていません

    %h2.slide-title
      メモ
    .memo-area
      - if @memo.content != ""
        = @memo.content
      - else
        メモはまだ書いていません

  - if user_signed_in?
    #like-link{ id: @note.id }
      = render partial: 'like', locals: { note: @note, book: @book, likes: @likes }

    .comments-wrapper
      .comment-form
        = form_with(model: [@book, @note, @comment], local: true) do |f|
          .form-area
            = f.text_field :content, placeholder: "コメントを入力してください", class: "comment-form-area" 
          .btn-area
            = f.submit "送信", class: "comment-submit-btn"

      .comments
        - if @comments.present?
          %p コメント一覧
          - @comments.each do |comment|
            .comment
              .comment__content
                = comment.content
              .comment__info
                = comment.user.nickname
                = comment.created_at.to_s(:date)



