.account-page
  .account-page__title
    新規登録する
  .account-page__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :nickname
        %br/
        = f.text_field :nickname, autofocus: true, class: "nick-name-field"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "email-field"
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            ( #{@minimum_password_length}文字以上 )
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "password-field"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "password-field"
      .actions
        = f.submit "登録", class: "btn"
    = render "devise/shared/links"
