.upper-content
  .left-content
    .profile
      .user-name
        = @user.nickname
      .user-prifile
        = simple_format(@user.profile)

    .best-books-area
      .best-books-area__top
        .best-books-area__title
          = "#{@user.nickname}さんのおすすめ"
        .best-book-edit
          - if @user == current_user
            - if @best_book
              = link_to edit_user_best_book_path(@user.id, @best_book.id), class: "best-book-edit-btn" do
                = icon('fas', 'edit', class: "edit-icon")
            - else
              = link_to new_user_best_book_path(@user.id), class: "best-book-edit-btn" do
                = icon('fas', 'edit', class: "edit-icon")

      .best-book
        - if @best_book
          - if @best_book.best_book_id
            .left-word
              = "ベスト１"
            .book-link
              = link_to "#{@books.find(@best_book.best_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト１はまだ登録されていません
        - else
          ベスト１はまだ登録されていません
      .second-best-book
        - if @best_book
          - if @best_book.second_book_id
            .left-word
              = "ベスト２"
            .book-link
            = link_to "#{@books.find(@best_book.second_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト２はまだ登録されていません
        - else
          ベスト２はまだ登録されていません
      .third-best-book
        - if @best_book
          - if @best_book.third_book_id
            .left-word
              = "ベスト３"
            .book-link
              = link_to "#{@books.find(@best_book.third_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト３はまだ登録されていません
        - else
          ベスト３はまだ登録されていません
    
    .user-count-area
      .books-count
        - finished_books = Book.status_books(@user.id, 2)
        = "#{finished_books.length}"
      .books-count__title
        = "読んだ本"

      .notes-count
        = "#{@notes.length}"
      .notes-count__title
        = "書いたノート"

      .likes-count
        = "#{@likes.length}"
      .likes-count__title
        = "もらったいいね"

    - if @user == current_user
      .profile-edit
        = link_to "プロフィール編集", edit_user_registration_path, class: "profile-edit-btn"


  .right-content
    .right-content__title
      %p アクションプラン一覧
    - if @user == current_user && @user.action_plan_exists?
      .edit-progress-area
        #edit-progress-btn
          レベルの変更
        %span#progress-question
          = icon('far', 'question-circle', class: "question-icon")
        .progress-explain
          達成度に応じて評価してください（０〜５）
    #action-plan-index
      - if @user.action_plan_exists?
        = render partial: "action_plan", collection: @user.action_plans, as: "action_plan"
      - else
        .no-action-plan-message
          アクションプランはありません
.add-book-area
  = link_to "本を追加する", new_book_path, class: "add-book-btn"

.create-note-btn

.main-content
  .tabs-area
    .content-tabs
      .books-menu-tab.active
        全て
      .books-menu-tab
        読み終わった
      .books-menu-tab
        いま読んでいる
      .books-menu-tab
        まだ読んでない
  .user-books-area.show
    = render partial: "book", collection: @books
  .user-books-area
    - @books = Book.status_books(@user.id, 2)
    = render partial: "book", collection: @books
  .user-books-area
    - @books = Book.status_books(@user.id, 1)
    = render partial: "book", collection: @books
  .user-books-area
    - @books = Book.status_books(@user.id, 0)
    = render partial: "book", collection: @books
