.upper-content
  .left-content
    .profile
      .user-name
        = @user.nickname
      .user-prifile
        = simple_format(@user.profile)

    .best-books-area
      .best-books-area__title
        = "#{@user.nickname}さんのおすすめ"
      .best-book
        - if @best_book
          - if @best_book.best_book_id
            .left-word
              = "ベスト１"
            .book-link
              = link_to "#{@books.find(@best_book.best_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト１はまだ登録されていません
        - else
          ベスト１はまだ登録されていません
      .second-best-book
        - if @best_book
          - if @best_book.second_book_id
            .left-word
              = "ベスト２"
            .book-link
            = link_to "#{@books.find(@best_book.second_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト２はまだ登録されていません
        - else
          ベスト２はまだ登録されていません
      .third-best-book
        - if @best_book
          - if @best_book.third_book_id
            .left-word
              = "ベスト３"
            .book-link
              = link_to "#{@books.find(@best_book.third_book_id).title}", book_notes_path(@best_book.best_book_id), class: "best-book-link"
          - else
            ベスト３はまだ登録されていません
        - else
          ベスト３はまだ登録されていません
    
    .user-count-area
      .books-count
        = "#{@books.length}"
      .books-count__title
        = "読んだ本"

      .notes-count
        = "#{@notes.length}"
      .notes-count__title
        = "書いたノート"

      .likes-count
        = "#{@likes.length}"
      .likes-count__title
        = "もらったいいね"

    - if @user == current_user
      .edit-btn-area
        .profile-edit
          = link_to "プロフィール編集", edit_user_registration_path, class: "profile-edit-btn"
        
        .best-book-edit
          - if @best_book
            = link_to "ベスト３の編集", edit_user_best_book_path(@user.id, @best_book.id), class: "best-book-edit-btn"
          - else
            = link_to "ベスト３の登録", new_user_best_book_path(@user.id), class: "best-book-edit-btn"


  .right-content
    .right-content__title
      %p アクションプラン一覧
    - if @user == current_user && @user.action_plan_exists?
      .edit-progress-area
        #edit-progress-btn
          レベルの変更
        %span#progress-question
          = icon('far', 'question-circle', class: "question-icon")
        .progress-explain
          達成度に応じて評価してください（０〜５）
    #action-plan-index
      - if @user.action_plan_exists?
        = render partial: "action_plan", collection: @user.action_plans, as: "action_plan"
      - else
        .no-action-plan-message
          アクションプランはありません
.add-book-area
  = link_to "本を追加する", new_book_path, class: "add-book-btn"

.create-note-btn

.main-content
  .user-books-area
    - @books.each do |book|
      .book-area
        = link_to "", book_notes_path(book.id), class: "book-area__link"
        .book-area__image
          - if book.origin_image_url.present?
            = image_tag "#{book.origin_image_url}", height: '170px', width: '120px'
          - elsif book.image.present?
            = image_tag "#{book.image}", height: '170px', width: '120px'
          - else
            = image_tag "no_image.png", height: '170px', width: '120px'
        .book-area__title
          = "#{book.title}"
        .book-area__author
          - if book.author.present?
            = "#{book.author} (著)"
          - else
            不明な著者
        .book-area__note-info
          - if book.notes.find_by(user_id: params[:id])
            - note_id = book.notes.find_by(user_id: params[:id]).id
            = link_to "ノートを見る", book_note_path(book.id, note_id), class: "book-area__note-link"
        - if @user == current_user
          .update-book-status-link{data: {id: book.id}}
            ステータス変更
        
        .overlay{data: {id: book.id}}
          .modal-window__book-register
            .book-info
              .modal-book-image
                - if book.origin_image_url.present?
                  = image_tag "#{book.origin_image_url}", height: '140px', width: '100px'
                - else book.image.present?
                  = image_tag "#{book.image}", height: '140px', width: '100px'
              .right-content
                .modal-book-title
                  = book.title
                .modal-book-author
                  - if book.author.present?
                    = book.author
                  - else
                    = "不明な作者"
                .modal-book-publisher
                  - if book.publisher.present?
                    = book.publisher
                  - else
                    = "不明な出版社"
            .book-register-form
              .select-message
                選択してください
              - @book_user = BookUser.find_by(book_id: book.id, user_id: @user.id)
              = form_with(model: @book_user, url: {controller: 'book_users', action: 'update' }, local: true) do |f|
                = f.select :status, BookUser.statuses_i18n.invert, {}, class: "status-form"
                = f.hidden_field :book_id, value: book.id
                .btn-area
                  .modal-close-btn
                    キャンセル
                  .submit-btn
                    = f.submit "変更", class: "submit-form"