
.search-form-area
  = form_with(url: books_searches_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "本を検索する", class: "search-input"
    = form.submit "検索", class: "search-btn"

.add-book-area
  = link_to "本を追加する", new_book_path, class: "add-book-btn"

.book-index
  = render @books

.footer
  nekocat Co., Ltd.

  -# .amazon-area
  -#   <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B07HK2TDQ1/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07HK2TDQ1&linkCode=as2&tag=bookappkoki73-22&linkId=bc1398d5981bf56f5b6cf519b6961063"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07HK2TDQ1&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bookappkoki73-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=bookappkoki73-22&l=am2&o=9&a=B07HK2TDQ1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  -#   <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B00IRV39FM/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00IRV39FM&linkCode=as2&tag=bookappkoki73-22&linkId=9fb03f5ac6ff859dfec6cf2244cf205e"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00IRV39FM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bookappkoki73-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=bookappkoki73-22&l=am2&o=9&a=B00IRV39FM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  -#   <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B07FX9V6PJ/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07FX9V6PJ&linkCode=as2&tag=bookappkoki73-22&linkId=8a5656406316b9609a705ee419f535a1"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07FX9V6PJ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=bookappkoki73-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=bookappkoki73-22&l=am2&o=9&a=B07FX9V6PJ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    