.search-form-area
  = form_with(url: books_searches_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "本を検索する", class: "search-input"
    = form.submit "検索", class: "search-btn"

.add-book-area
  = link_to "本を追加する", new_book_path, class: "add-book-btn"

.book-index
  = render partial: 'books/book', collection: @books

.footer
  nekocat Co., Ltd.